@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1A2530;
  color: #fff;
}
*,
*::before {
  box-sizing: border-box;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
*::before {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[hidden] {
  display: none;
}

.input-wrapper {
  position: relative;
  margin: 0.5em 0;
}
img {
  display: block;
  width: 5em;
  margin: 1em auto;
}

input {
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
input:focus + label::after {
  content: '—';
  position: absolute;
  left: -2em;
  top: -2px;
  color: #E74C3C;
}

input[type="checkbox"] {
  opacity: 0;
  padding: 0;
  position: fixed;
  left: -100vw;
}
input[type="checkbox"] + label::before {
  content: ' ';
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.6em 0 3px;
  box-shadow: 0 0 0 2px #1A2530, 0 0 0 3px #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type="checkbox"]:checked + label::before {
  background: #fff;
}

input[type="number"] {
  background: none;
  border: none;
  width: 2em;
  text-align: center;
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"],
input[type="password"] {
  background: none;
  border: none;
  box-shadow: 0 2px #1A2530, 0 3px #fff;
  margin: 0.8em 0 0.2em;
}
input[type="text"] + label,
input[type="password"] + label {
  position: absolute;
  top: 0;
  left: 0;
  color: #34495E;
  pointer-events: none;
  margin: 0.8em 0;
}
input[type="text"]:focus + label,
input[type="text"]:valid + label,
input[type="password"]:focus + label,
input[type="password"]:valid + label {
  top: -1em;
  font-size: 0.8em;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  width: calc(100% - 6px);
  background: none;
  border: none;
  margin: 1em 3px;
  padding: 0.3em;
  box-shadow: 0 0 0 2px #1A2530, 0 0 0 3px #fff;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #E74C3C;
  box-shadow: 0 0 0 2px #1A2530, 0 0 0 3px #E74C3C;
}

textarea {
  background: none;
  height: 2em;
  width: 100vw;
  font-size: 160%;
  overflow: visible;
  text-align: center;
  border: none;
  color: white;
  cursor: default;
  resize: none;
}
